create pipfile and pipfile.lock, inside backend
pipenv install -r requirements.txt

install the following,
pipenv install fastapi uvicorn python-socketio

me,
pipenv install autopep8

Creating a socketio client
pipenv install "python-socketio[asyncio_client]"

To run the agent.py code,
pipenv install langchain
pipenv install langchain-core
pipenv install langchain-google-genai
pipenv install python-dotenv

pipenv shell
run main.py,
python -m main

pipenv install websockets


frontend===========

npm install socket.io-client

npm start