python -m pip install -q --upgrade pip
pip install -q -U langchain
pip install -q -U python-dotenv
pip install -U -q langchain-google-genai pillow


pip install -q -U google-generativeai

//Gayuni
python -m venv venv
.\venv\Scripts\Activate
$env:PYTHONPATH
pip install fastapi==0.78.0 uvicorn==0.17.6

//frontend
npm init
npm install
npm start
npm install @mui/material
npm install react-router-dom
npm install react-dom
npm install web-vitals
npm install @emotion/react @emotion/styled
npm start

//backend
pip install fastapi
pip install uvicorn
uvicorn api:app --reload
pip install 'uvicorn[standard]'
pip install websockets
uvicorn api:app --reload
python --fileName--

C:\Users\User\Desktop\AgentSmithsFinal> mkdir env
C:\Users\User\Desktop\AgentSmithsFinal> python -m venv myenv
C:\Users\User\Desktop\AgentSmithsFinal\env> .\myenv\Scripts\activate 
pip install sentence-transformers




