.chatInterface{
    text-align: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 50px 0px 50px 50px;
    flex-direction: column; /*default*/
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 81.72%);
    /* margin: 0%; */
    font-family: sans-serif;
}

.chatInterface-holder {
    display: flex;
    gap: 30px; /* gap between holders */
  }