/* ==============Whole Website Styles================= */

.App { 
  text-align: center;
  display: flex;

  width: auto;
  height: auto;
  min-height: 100vh;
  padding: 10px;
  flex-direction: column; /*Makes the main axis vertical*/
  /* align-items: flex-start; */ /*align-contect property is unlocked when flex-wrap:wrap*/
  align-content: flex-start; /*This is used because align-items is making the nav weird*/
  gap: 10px;
  background: linear-gradient(180deg, #33007E 0%, #9D0191 36.63%, #120078 68.92%, #9D0191 100%);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; */
  margin: 0%;
  font-family: sans-serif;
}

.NavBar-nav{
  color: #ffffff;
  display:flex;
  /* flex-direction: row; */ /*No need to specify this because display is making the main axis row*/
  align-items: baseline;
  /* gap: 5rem; */
  padding: 2rem;
  margin:0px;
  /* background-color: #120078; */
  /* flex-wrap:nowrap; */
}

.NavLink{
  color:#ffffff;
  font-size: 20px;
  /* font-family: ; */
  font-weight: bolder;
  /* word-wrap: 'break-word'; */ /*Allow long words to be able to break and wrap onto the next line*/
  text-decoration: none;
}

.Brand{
  color:#ffffff;
  font-size: 50px;
  /* margin: 0px; */
  /* margin-bottom: 20px; */
  font-weight: bolder;
  /* word-wrap: 'break-word'; */
  text-decoration: none;
}

.NavBar-nav ul{
  list-style: none;
  display: flex;
  gap: 4rem; /*gap betweek list items*/
}

.NavBar-nav button{
  width: 108px;
  height: 42px;
  flex-shrink: 0; /*Buttopn to not shrink when the window shrinks*/
  background-color: #ffffff;
  border: none;
  border-radius: 52px;
  color: #33007E;
  font-size: 20px;
  font-weight: 800;
  /* word-wrap: break-word; */
  margin-left: auto;
}

.NavBar-nav ul li{
  padding-bottom: 15px; /*So that the hover boarder apears 15px below the li*/
}

.NavBar-nav ul li:hover{
  border-bottom: 3px solid #fff;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; 
} */

/* .App-link {
  color: #61dafb;
} */