.middleHolder,
.rightHolder {
  flex: 1; /* Use flex-grow to make both holders take equal width */
  background-color: rgba(151, 142, 142, 0.5); /* 50% transparent white background */
  border-radius: 20px; /* Rounded corners */
  padding: 10px; /* Padding for inner content */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Box shadow */
}

.leftHolder{
  width : 20%;
  height: auto;
  min-height: 100vh;
  background-color: bisque;
}

.middleHolder{
  flex: 2;
  width : 50%;
  height: auto;
  min-height: 100vh;
  flex-shrink: 0;
}

.rightHolder{
  width : 30%;
  border-radius: 20px 0px 0px 20px;
  min-height: 100vh;
}

@media (max-width: 50%) {
  .leftHolder {
    display: none;
  }
}