.SendMessage{
    position: relative;
    /* width: 100%; */
    display: flex; /*me*/
    margin: 10px 75px 10px 75px;
  }

  .Input-Field{
    /* width: 100%; */
    border: 2px solid rgba(255, 255, 255, 1); /* Fully opaque white border */
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 2;
    box-sizing: border-box;
    outline: none;
    background-color: rgb(255, 255, 255); /* White background with 0.5 opacity */
    /* opacity: 0.5; */
    &::placeholder{
      color: #8c978d; 
      font-size: 18px;
    }
  }
  
  .SendMessage .GetStarted{
    position: absolute;
    right: 0px; 
    top: 0px;
    bottom: 0px;
    border: 0;
    background-color: #ffffff;
    /* color: #33007E;
    font-size: 18px;
    font-weight: 800; */
    align-content: center;
    outline: none;
    margin: 0;
    padding: 0 20px;
    border-radius: 0px 100px 100px 0px; 
    z-index: 2;
    &:hover {
      opacity: 0.7;
      background-color: #ffffff;
    }
  }

  .Send-Icon{
    color: rgba(157, 1, 145, 1);
  }

  .ChatMessages{
    background-color: #ffffff;
  }