.HomePage-Description-Input{
    position: relative;
    width: 100%;
    display: flex; 
  }

 .HomePage-Description-Input .Input-Field{
    width: 100%;
    border: 2px solid  #0D1B2A; /* Fully opaque white border */
    border-radius: 100px;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5); /* White background with 0.5 opacity */
    /* opacity: 0.5; */
    &::placeholder{
      color: #797e79; 
      font-size: 18px;
    }
  }
  
  .HomePage-Description-Input .GetStarted{
    position: absolute;
    right: 0px; 
    top: 0px;
    bottom: 0px;
    border: 0;
    background-color:  #0D1B2A;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 800;
    outline: none;
    margin: 0;
    /* padding: 0 20px; */
    border-radius: 0px 100px 100px 0px; 
    z-index: 2;
    &:hover {
      opacity: 0.7;
      background-color:  #2a537e;
    }
  }