  .HomePage-IntroImage{
    width: auto;
    height: 500px;;
    /* overflow: hidden; */
    /* flex-grow: 1; */
    /* justify-content: flex-end; Align content to the end (right) */
    /* object-fit: cover; */
    /* align-items: center; */
    /* background-color: rgb(127, 255, 165); */
  }
  
  .HomePage-Image{
    max-width: 120%;
    max-height: 120%;
    width:120%;
    height: 120%;
    align-content: center;
    margin: 0;
    padding: 0;
  }
  
